@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --border: 3px solid red;
    --border2: 3px solid yellow;
    --border3: 3px solid green;
    --border4: 2px solid black;
}

/* mobile  */
body {
    max-width: 390px;
    min-height: 100vh;
    border: var(--border4);
    margin: 0;
    position: relative;
    overflow-y: auto;
    font-family: 'Lato', sans-serif;
    border-radius: 10px;
}

#header {
    padding: 36px 24px;
    /* border: var(--border2); */
    display: flex;
    flex-direction: column;
}

#header>h1 {
    font-weight: 800;
    font-size: 32px;
}

#header>p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

#header .tag {
    color: #009966;
}

#content-area {
    /* border: var(--border3); */
    min-height: 100vh;
    padding-top: 1px;
    overflow: hidden;
    background-color: #666666;
}

#info-card {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    /* border: 3px solid blue; */
    margin-top: 72px;
    /* padding: 20px; */
    /* box-sizing: border-box; */
}

.card-header {
    height: auto;
    width: 90%;
    padding: 8px 24px;
    background-color: #FFBF00;
    /* border: 1px solid black; */
    border-radius: 2px;
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.card-header>h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
}

.card-body {
    max-height: 400px;
    overflow-y: hidden;
    padding: 12px 24px;
}

.card-body>p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

/* Tablet view (768px width ) */
@media (min-width: 786px) {
    body {
        max-width: 768px;
        margin: 0 auto;
        border: var(--border3);
    }

    #header {
        padding: 48px 32px;
        text-align: left;
    }

    #header>h1 {
        font-size: 34px;
    }

    #header>p {
        font-size: 22px;
        line-height: 32px;
    }

    .break::after {
        content: "\A";
        white-space: pre;
    }

    #content-area {
        background-color: #666666;
        padding: 32px 0px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        /* Add depth */
    }

    #info-card {
        margin: 40px 0px;
        padding: 24px 0px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* border: var(--border2); */
    }

    .card-header {
        padding: 16px 24px;
        font-size: 26px;
        width: 60%;
    }

    .card-body {
        padding: 16px;
        max-height: none;
    }

}

/* Destop view (1280px width) */
@media (min-width: 1280px) {

    body {
        max-width: 100vw;
        min-height: 100vh;
        margin: 0 auto;
        font-family: 'Lato', sans-serif;
        border-radius: 10px;
    }

    #header {
        /* border: 4px solid purple; */
        max-width: 800px;
        padding: 0px 24px;
        margin: 80px auto;
        text-align: left;
        display: flex;
        flex-direction: column;
        content: center;
    }

    #header>h1 {
        font-size: 42px;
        margin-bottom: 32px;
        /* border: 4px solid grey; */
    }

    #header>p {
        font-size: 24px;
        line-height: 36px;
        /* border: var(--border2); */
    }


    #info-card {
        max-width: 800px;
        margin: 80px auto;
        padding: 32px 0px;
        border-radius: 10px;
        /* border: var(--border3); */
    }

    .card-header {
        width: 60%;
        border-radius: 5px;
        font-size: 28px;
        margin: -10px;
        z-index: 1;
    }

    .card-body {
        padding: 24px;
        max-height: none;
        overflow-y: auto;
        font-size: 20px;
        line-height: 32px;
    }

    .card-body>p {
        margin-bottom: 20px;

    }

}